#video_container {
	float: right;
	padding-top: 4ex;
	margin: 0 10px 0 30px;
	width: 500px;
}

#video_title {
	white-space: normal;
	font-size: 20px;
	font-weight: bold;
}

#description {
	width: 50%;
	padding-left: 2em;
}

table {
	border: 2px solid black;
	border-collapse:collapse;
}

th {
	padding: 2px;
}

td {
	border: 1px solid black;
	padding: 6px;
}